*{
    padding: 0;
    margin: 0; /*disable browser margin padding*/
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body
{
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-position: center top;
   /* background-attachment: fixed;
    background-size: cover;*/
}

.titles {
    padding: 165px 60px 205px;
}

.titles h4, h1, .main {
    max-width: 840px;
    margin: auto;
    text-align: center;
}

.titles>h4 {
    padding-bottom: 25px;
    color: #273d46;
    text-transform: uppercase;
    font-size: 14px;
}
.titles>h1 {
    color: #899194;
    font-size: 36px;
}
.main{
    margin-bottom: 190px;
}

.main>img{
    border: white solid 4px;
    margin-bottom: 100px;
}

.main>p{
    padding: 0 50px 50px 50px;
    font-size: 24px;
    color: #899194;
    text-align: initial;
}

ul{
    margin-bottom: 59px;
}

ul li{
    font-size:20px;
    text-align: initial;
    padding-bottom: 16px;
    padding-left: 50px;
    list-style-type: none;
}

ul li:nth-child(2){
    color: #80b7b3;
    font-style: italic;
}

ul li:nth-child(3){
    font-weight: bolder;
}

ul li:nth-child(4){
    color: gray;
    text-decoration: line-through;
}

ul li:before{
    display: inline-block;
    margin-right: 10px;
    background-image: url("../images/tick.png");
    background-repeat: no-repeat;
    width: 30px;
    height: 25px;
    content: "";
}

a{
    background-color: #80b7b3;
    min-width: 200px;
    margin-left: 50px;
    padding: 18px 27px;
    border-radius: 20px;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    }

a>img {
    padding-left: 10px;
}
.ref{
    text-align: left;
}





